<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>User Registration System</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">User Registration System</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<br />
	<br />
	<br />
	<div class="container">
		<div class="row col-md-8 offset-md-2">
			<div class="card">
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our app!</div>
				</div>
				<div class="card-header">
					<h2 class="text-center">Edit User Details</h2>
				</div>
				<div class="card-body">
					<form method="post" id="userForm" name="userForm" role="form" th:object="${user}">

						<div class="form-group mb-3">
							<label class="form-label">First Name</label>
							<input class="form-control alphabetonly" id="firstName" name="firstName"
								placeholder="Enter first name" th:field="*{firstName}" type="text" />
							<p th:errors="*{firstName}" class="text-danger" th:if="${#fields.hasErrors('firstName')}">
							</p>
						</div>

						<div class="form-group mb-3">
							<label class="form-label">Last Name</label>
							<input class="form-control alphabetonly" id="lastName" name="lastName"
								placeholder="Enter last name" th:field="*{lastName}" type="text"
								value="${userList.lastName}" />
							<p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}">
							</p>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">Email</label>
							<input class="form-control " id="email" name="email" placeholder="Enter email address"
								th:field="*{email}" type="email" />
							<p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">
							</p>
						</div>

						<div class="form-group mb-3">
							<label class="form-label">Mobile Number</label>
							<input class="form-control numberonly" id="mobile" name="mobile"
								placeholder="Enter Mobile Number" th:field="*{mobile}" type="text" maxlength="10" />
							<p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">
							</p>
						</div>
						<div class="col-md-2 p-2">
							<button id="addRowsBtn" class="btn btn-sm btn-success mt-1" type="button"><i
									class="bi bi-plus"></i> Add Address</button>
						</div>
						<div class="table-responsive mt-3 " id="table">
							<table class="table table-bordered " id="dataTable">
								<thead>
									<tr>
										<td scope="col">Sl No</td>
										<th scope="col">Address Line 1</th>
										<th scope="col">Address Line 2</th>
										<th scope="col">City</th>
										<th scope="col">PinCode</th>
										<th scope="col">State</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="user,ui: ${user.address}">

										<th th:text="${ui.index+1}"></th>
										<input type="hidden" th:name="address_id[+ ${ui.index} +]" th:value="${user.id}"
											th:id="address_id+${ui.index}" />
										<td><input th:name="address1[+ ${ui.index} + ]"
												class="form-control  form-control-sm validate"
												onclick="hideError1(this);" th:id="address1+${ui.index}"
												th:value="${user.address1}"></td>
										<td><input th:name="address2[+ ${ui.index} + ]"
												class="form-control  form-control-sm validate"
												onclick="hideError1(this);" th:id="address2+${ui.index}"
												th:value="${user.address2}"></td>
										<td><input th:name="city[+ ${ui.index} + ]"
												class="form-control  form-control-sm validate alphabetonly"
												onclick="hideError1(this);" th:id="city+${ui.index}"
												th:value="${user.city}"></td>
										<td><input th:name="pincode[+ ${ui.index} + ]"
												class="form-control  form-control-sm validate numberonly"
												onclick="hideError1(this);" th:id="pincode+${ui.index}"
												th:value="${user.pincode}"></td>
										<td><input th:name="state[+ ${ui.index} + ]"
												class="form-control  form-control-sm validate alphabetonly"
												onclick="hideError1(this);" th:id="state+${ui.index}"
												th:value="${user.state}"></td>
										<td><i th:if="${#lists.size(user) == (ui.index) && ui.index !=0}"
												th:id="deleteBtn+${ui.index+1}" class="bi bi-trash delete-row"></i>
											<i th:if="${#lists.size(user) != (ui.index) && ui.index !=0}"
												th:id="deleteBtn+${ui.index+1}" class="bi bi-trash delete-row"
												style="display:none;"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--<div class="form-group mb-3">-->
						<!--  <label class="form-label">Password</label>-->
						<input class="form-control" id="password" name="password" placeholder="Enter password"
							th:field="*{password}" type="hidden" />
						<!-- <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>-->

						<div class="form-group mb-3">
							<button class="btn btn-primary" type="button"
								th:onclick="submitForm([[${user.id}]])">Update</button>
						</div>

						<div id="items-length" th:data-length="${#lists.size(user.address)}"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script>
	var lastRowNumber = 0;
	var lastIndex = 0;
	$(document).ready(function () {
		var length = document.getElementById('items-length').getAttribute('data-length');
		console.log('Length of items:', length);
		lastRowNumber = length;
		lastIndex = length;
		if (null == length || length == '0') {
			$("#table").hide();
			lastRowNumber = 0;
			lastIndex = 0;
		}

	});


	$('#addRowsBtn')
		.on(
			'click',
			function () {

				$('#table').show();
				var tbody = $('#dataTable tbody');
				var lastRow = tbody.find('tr:last');
				lastRowNumber++;
				lastIndex++;
				$("#deleteBtn" + (lastRowNumber - 1)).hide();
				var newRow = '<tr><th scope="row">'
					+ lastIndex
					+ '<input type="hidden" name="address_id[' + (lastRowNumber - 1) + ']"  id="address_id' + lastRowNumber + '"/>'
					+ '</th><td><input name="address1[' + (lastRowNumber - 1) + ']" class="form-control  form-control-sm validate" onclick="hideError1(this);" id="address1' + lastRowNumber + '" value=""/></td>'
					+ '<td><input name="address2[' + (lastRowNumber - 1) + ']" class="form-control  form-control-sm validate " onclick="hideError1(this);" id="address2' + lastRowNumber + '" value=""/></td>'
					+ '<td><input type="text" name="city[' + (lastRowNumber - 1) + ']" class="form-control  form-control-sm validate alphabetonly"id="city' + lastRowNumber + '" value=""/></td>'
					+ '<td><input type="text" name="pincode[' + (lastRowNumber - 1) + ']" class="form-control  form-control-sm validate numberonly" id="pincode' + lastRowNumber + '" value="" maxlength="6"/></td>'
					+ '<td><input type="text" name="state[' + (lastRowNumber - 1) + ']" class="form-control form-control-sm validate alphabetonly" onclick="hideError1(this);" id="state' + lastRowNumber + '" value=""/></td>'
					+ '<td><i id="deleteBtn' + lastRowNumber + '" class="bi bi-trash delete-row"></i></td>'
					+ '</tr>';
				tbody.append(newRow);



			});

	$('.numberonly').keypress(function (e) {
		var charCode = (e.which) ? e.which : event.keyCode
		if (String.fromCharCode(charCode).match(/[^0-9]/g))
			return false;
	});
	$(document).on('click', '.delete-row', function () {
		$(this).closest('tr').remove();
		lastRowNumber--;
		lastIndex--;
		$("#deleteBtn" + (lastRowNumber)).show();
		if (lastIndex == 0) {
			$("#table").hide();
		}
		// Update serial numbers after deletion
		$('#dataTable tbody tr').each(function (index) {
			$(this).find('th').text(index + 1);

		});
	});

	function submitForm(id) {
		let flag = formValidation();
		if (flag && confirm("Are you Sure ?")) {
			document.userForm.action = "/update/" + id;
			document.userForm.target = "_self";
			document.userForm.submit();
		}
	}

	function formValidation() {
		let flag = true;

		var data = document.querySelectorAll('input');
		for (let i = 0; i < data.length; i++) {
			let valueById = $("#" + data[i].id).val();
			let type = $("#" + data[i].id).attr("type");
			if (valueById == null || valueById == "" && type != "hidden") {
				$("#" + data[i].id).css("border", "1px solid red");
				flag = false;
			}
		}

		return flag;
	}

	function hideError1(e) {
		document.getElementById(e.id).style.border = "";
	}

	$('.alphabetonly').on('keypress', function (e) {
		const charCode = e.which || e.keyCode;
		const char = String.fromCharCode(charCode);
		if (/^[a-zA-Z]$/.test(char) || e.ctrlKey || e.metaKey || e.altKey) {
			return true;
		}
		e.preventDefault();
	});

	$('.numberonly').on('keypress', function (e) {
		const charCode = e.which || e.keyCode;
		const char = String.fromCharCode(charCode);
		if (/^\d$/.test(char) || e.ctrlKey || e.metaKey || e.altKey) {
			return true;
		}
		e.preventDefault();
	});

</script>

</html>